.not-found {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 735px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.no-found__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    width: 208px;
    color: #808080;
    text-align: center;
}

.not-found__img {
    width: 110px;
}